{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        [
            "emotion",
            {
                "hoist": true
            }
        ],
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ]
    ]
}