{
    "presets": [
        "react",
        [
            "env",
            {
                "useBuiltIns": true,
                "modules": false
            }
        ]
    ],
    "plugins": [
        [
            "emotion",
            {
                "sourceMap": true,
                "autoLabel": true
            }
        ],
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ]
    ]
}