{
    "presets": [
        "react",
        [
            "env",
            {
                "useBuiltIns": true,
                "modules": false
            }
        ]
    ],
    "plugins": [
        [
            "emotion",
            {
                "sourceMap": true,
                "autoLabel": true
            }
        ]
    ]
}